.container {
    background: #002140;
    position  : fixed;
    top       : 50%;
    left      : 50%;
    transform: translate(-50%, -50%);
    width    : 60%;
    height   : 50%;
    color    : #001529;
}

.inner-container {
    background: #fff;
    height    : 130%;
    width     : 45%;
    float     : left;
    position  : fixed;
    top       : 50%;
    left      : 67%;
    transform : translate(-50%, -50%);
}

.login-form {
    width    : 60%;
    position : fixed;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.login-form form {
    width: 100%;
}

.login-form-reset-pass {
    display   : block;
    text-align: center;
    color     : #001529;
}

.login-form-button {
    display         : block;
    margin          : 0 auto;
    width           : 100%;
    border-color    : #002140;
    background-color: #002140;
}

.login-form-button:hover {
    background-color: transparent;
    color           : #002140;
}

.logo-img {
    width    : 30%;
    position : fixed;
    top      : 50%;
    left     : 22%;
    transform: translate(-50%, -50%);
}